body{
	padding:0px;
	margin:0px;
  background-color: #50394c;
	}

.column {
      float: left;
      padding: 10px;
      height: 300px;
  }

.left{
  width: 10%;
}

.middle{
  width: 70%;
}

.right{
  width:10%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.arrow_1{
  border: solid white;
  border-width: 0 20px 20px 0;
  display: inline-block;
  padding: 30px;
  transform: rotate(135deg);
  margin-left: 260px;
  margin-top: 100px;
}

.arrow_2{
  border: solid white;
  border-width: 0 20px 20px 0;
  display: inline-block;
  padding: 30px;
  transform: rotate(-45deg);
  margin-left: -200px;
  margin-top: 100px;
}

.example_button{
  border: none;
	color: #FFFF;
	text-align: center;
	width: 200px;
	height: 60px;
	position: relative;
	left: 300px;
	background: #d64161;
	top: 8px;
  border-radius: 25px;
}
