body{
  background-image: url("blockchain.png");
}

.heading_box{
  margin-left: 260px;
  margin-top: 30px;
  width: 1100px;
  height: 200px;
  opacity: 0.9;
}

.heading_text{
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  color: white;
}

.example_button{
  border: none;
	color: #FFFF;
	text-align: center;
	width: 200px;
	height: 60px;
	position: relative;
	left: 300px;
	background: #d64161;
	top: 8px;
  border-radius: 25px;
  margin-top: -200px;
  margin-left: 100px;
}
